body {
    background: #f9f9f0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Georgia, serif;
    color: #444444;
    border-top: 5px solid #005B49
}

main {
    font-family: Helvetica, sans-serif;
    padding: 20px 40px 40px;
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd
}

header {
    font-family: Georgia, serif;
}

.header {
    color: #005B49;
    font-size: 3em;
}

.site-header {
    padding-bottom: 20px;
}

.tagline {
    font-family: Helvetica, sans-serif;
    font-size: 1.1em;
    color: #888888
}

.main-header {
    font-size: 2.5em;
    padding-bottom: 10px;
}

.nav-tabs {
    background: #f9f9f0;
    font-family: Helvetica, sans-serif;
    font-size: 1.2em;
}

.nav-tabs > li > a {
    color: #444444
}

.nav-tabs > li:not(.active) > a:visited {
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.nav-tabs > li:not(.active) > a:hover {
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.nav-tabs > li:not(.active) > a:active {
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

a {
    color: #005B49;
}

a:hover {
    color: #0e6f53;
}

a:visited {
    color: #004336;
}

figcaption {
    text-align: center;
    padding-bottom: 20px;
    font-family: Helvetica, sans-serif;
    color: #888888;
    font-style: italic;
    font-size: 0.9em;
}

footer {
    text-align: center;
    padding-top: 20px;
    font-family: Helvetica, sans-serif;
    color: #888888;
    font-size: 0.85em;
}
